@use '../../../assets/Sass/mixins.scss';
@use '../../../assets/Sass/variables.scss';

/***** NABIGATION BAR *****/
.navigation-bar{
    background-color: variables.$washedBlack;
    width:100vw;
    max-width:100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size:0.5em;

    a{
        text-decoration: none;
    }

    @include mixins.mQ-phones(360px){
        height:30px;
        font-size:0.5em;
    }

    @include mixins.mQ-other(361px,480px){
        height:30px;
        font-size:0.5em;
    }

    @include mixins.mQ-other(481px,768px){
        font-size:0.65em;
    }

    @include mixins.mQ-other(769px,1149px){
        font-size:0.7em;
    }

    @include mixins.mQ-other(1150px, 1699px){
        font-size: 0.8em;
    }

    @include mixins.mQ-other(1700px, 2299px){
        height:60px;
        font-size:0.9em;
    }

    @include mixins.mQ-largerDesktops(2299px){
        font-size:0.8em;
    }
}

.navigation-bar-right{
    width:70%;
    justify-content: flex-end;

    ul{
        list-style-type: none;

        li{
            display:flex;
            justify-content: center;
            align-items: center;
            margin:3px;

            a{
                padding: 4px 2px; 
                color: variables.$mainLighterColor;

                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }

    @include mixins.mQ-phones(360px){
        height:30px;
        width:80%;
        font-size:0.9em;

        ul{
            li{
                margin:3px;
        
                a{
                    padding: 4px 2px; 
                }
            }

            &:last-child{
                margin-right: 10px;
            }
        } 
    }

    @include mixins.mQ-other(361px,480px){
        height:30px;
        width:80%;
        font-size:9px;  

        ul{
            li{
                margin:3px;

                a{
                    padding: 4px 2px; 
                }
            }

            &:last-child{
                margin-right: 10px;
            }
        } 
    }

    @include mixins.mQ-other(481px,768px){
        height:50px;

        ul{
            li{
                margin:5px;

                a{
                    padding: 11.5px 10px;
                }
            }

            &:last-child{
                margin-right: 10px;
            }
        }
    }

    @include mixins.mQ-other(769px,1149px){
        ul{
            li{
                margin:6px;

                a{
                    padding: 13px 10px;
                }
            }

            &:last-child{
                margin-right: 10px;
            }
        }
    }

    @include mixins.mQ-other(1150px, 1699px){
        ul{
            li{
                margin:8px;

                a{
                    padding: 10px 8px;
                }
            }

            &:last-child{
                margin-right: 50px;
            }
        }
    }

    @include mixins.mQ-other(1700px, 2299px){
        ul{
            li{
                margin:0px 10px;

                a{
                    padding: 19px 12px;
                }
            }

            &:last-child{
                margin-right: 70px;
            }
        }
    }

    @include mixins.mQ-largerDesktops(2299px){
        ul {
            li{
                margin:10px;

                a{
                    padding: 22.5px 12px;
                }
            }

            &:last-child{
                margin-right: 70px;
            }
        }
    }
}

.navigation-bar-left{
    width: 30%;

    img{
        max-width:10vw;
        max-height: 10vw;
    }

    p{
        margin-top:0px;
        margin-bottom: 0px;
        color: variables.$mainLighterColor;
    }

    @include mixins.mQ-phones(360px){
        height:30px;
        width:20%;

        div{
            margin-left:3px;
            font-size:7px;
        }

        img{
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
    }

    @include mixins.mQ-other(361px,480px){
        width:20%;
        height:30px;

        div{
            margin-left:3px;
            font-size:7px;
        }

        img{
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
    }

    @include mixins.mQ-other(481px,768px){
        height:50px;

        div{
            margin-left:10px;
            font-size:1.3em;
        }

        img{
            width: 35px;
            height:30px;
            margin-right: 15px;
        }
    }

    @include mixins.mQ-other(769px,1149px){
        div{
            margin-left:15px;
            font-size:18px;
        }

        img{
            width: 40px;
            height:30px;
            margin-right: 15px;
        }
    }

    @include mixins.mQ-other(1150px, 1699px){
        div{
            margin-left:20px;
            font-size:30px;
        }

        img{
            width: 40px;
            height:30px;
            margin-right: 20px;
        }
    }

    @include mixins.mQ-other(1700px, 2299px){
        div{
            margin-left:20px;
            font-size:2em;
        }

        img{
            width: 70px;
            height:55px;
            margin-right: 20px;
        }
    }

    @include mixins.mQ-largerDesktops(2299px){
        div{
            margin-left:20px;
            font-size:30px;
        }

        img{
            width: 70px;
            height: 60px;
            margin-right: 20px;
        }
    }
}

/***** SEARCH BOX *****/
.search-box{
    border:none;
  
    button{
        color: variables.$mainDarkerColor;
        font-size:1.06em;
        padding:5px;
        margin-left:15px;
        border-radius: 6px;
        transition: transform 0.3s ease-in;

        &:hover{
            transform: scale(1.1);
        }
    }

    input{
        width:20vw;
    }

    @include mixins.mQ-phones(360px){
        button{
            padding:2px;
            margin-left:3px;
            border-radius:2px;
        }

        input{
            width:25vw;
            height:15px;
        }
    }

    @include mixins.mQ-other(361px,480px){
        button{
            padding:2px;
            margin-left:3px;
            border-radius:2px;
        }

        input{
            width:25vw;
            height:15px;
        }
    }

    @include mixins.mQ-other(481px,768px){
        input{
            width:25vw;
            padding:5px;
        }
    }

    @include mixins.mQ-other(769px,1149px){
        input{
            width:15vw;
            padding:5px;
        }
    }
    
    @include mixins.mQ-other(1150px, 1699px){
        font-size:0.7em;
        padding:3px;

        input{
            padding:5px;
            width:13vw;
        }
    }

    @include mixins.mQ-other(1700px, 2299px){
        font-size:1.06em;
            
        form input{
            font-size:0.8em;
            width:15vw;
            padding:5px;
        }
    }

    @include mixins.mQ-largerDesktops(2299px){
        form input{
            font-size:1.5em;
            padding:6px;
            width: 15vw;
        }
    }
}

/***** MODAL CART *****/
.modal-cart{
    position: absolute;;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    z-index:200;
    display: flex;
    flex-direction: column;
}

.modal-cart-holder{
    position: relative;
    min-width:50vw;
    max-width: 100vw;
    min-height:50vh;
    background-color: #F3F3F3;
    -webkit-box-shadow: inset 6px 38px 95px -83px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 6px 38px 95px -83px rgba(0,0,0,0.75);
    box-shadow: inset 6px 38px 95px -83px rgba(0,0,0,0.75);
    padding:20px;
    overflow-y:scroll;

    @include mixins.mQ-phones(360px){
        width:95vw;
        padding:5px;
    }

    @include mixins.mQ-other(361px,480px){
        width:95vw;
        padding:5px;
    }
}