/*   SASS VARIJABLE:     */

//BOJE:
$mainDarkerColor : #1D1D1D;
$mainLighterColor : #D6DBDF;
$redWarningColor : #BD0124;
$lightRed : #FFBFBF;
$yellowColor : #FFDC00;
$greenColor : rgb(46, 139, 41);
$lightGreen : #C8FF80;
$whiteColor : #F4F6F7;
$washedBlack : #1D1D1D;
$buyButtonColor: #8CCCBF;
$hoverLighterColor : #4C647B;
$greyColor : #ADADAD;
$listDarkerColor: #49536C;
$listLighterColor: #BBC4DB;
$backgroundColor : #FFFFFF;
$newsLetterColor1: #FFEEA0;
$newsLetterColor2: #766101;

/* ---------------------------- */